@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body{
    background-color: hsl(185, 75%, 39%);
    background-image: url(./images/bg-pattern-bottom.svg), url(./images/bg-pattern-top.svg);
}

#container{
    width: 350px;
    height: 374px;
    border-radius: 14px;
    background-color: #FFFFFF;
    margin: 40px;
    font-family: 'Kumbh Sans', Arial, sans-serif;
    text-align: center;
}

#background img{
    border-radius: 14px 14px 0 0;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#white-elipse{
    width: 107px;
    height: 107px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    margin-top: -140px;
}

#elipse img{
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin-top: 5px;
}

#content h1{
    font-size: 18px;
    color: hsl(229, 23%, 23%);
    font-weight: 700;
    margin-top: 75px;
}

#content span{
    font-weight: 400;
    color: hsl(227, 10%, 46%);
}

#content p {
    font-weight: 400;
    color: hsl(227, 10%, 46%);
    margin-top: 8px;
    font-size: 14px;
}

#stats{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    border-top: 1px solid hsla(0, 0%, 59%, 0.2);
}

.stats{
    color: hsl(229, 23%, 23%);
    margin-top: 20px;
}

.stats h2{
    font-size: 18px;
}

.stats p{
    font-size: 11px;
    color: hsl(227, 10%, 46%);
    margin-top: 4px;
    letter-spacing: 1px;
}